@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

.heading-teko-font {
    font-family: 'Teko', sans-serif;
}

.contact-button {
    max-height: 40px;
    margin-top: 5px;
    clip-path: polygon(13% 0%, 100% -61%, 75% 100%, 0% 100%);

    @media (max-width:1000px) {
        margin-top: -93px;
    }
}

.Banner {
    background-image: url('https://images.unsplash.com/photo-1682687220063-4742bd7fd538?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8');
    background-size: cover;
    background-position: center;

    &::after {
        content: "";
        position: absolute;
        width: 41%;
        height: 100%;
        background-color: red;
        opacity: 0.5;
        clip-path: polygon(31% 0%, 100% 0%, 56% 100%, -20% 100%);
        top: 0px;
        left: 198px;

        @media (max-width:1280px) {
            content: "";

            width: 44%;
            height: 100%;
            clip-path: polygon(31% 0%, 100% 0%, 56% 100%, -20% 100%);
            top: 0px;
            left: 183px;
        }

        @media (max-width:1000px) {
            width: 0px;
            height: 0px;
        }
    }

    .navbar {
        width: 92% !important;
        right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;

        @media (max-width:1000px) {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
        }

        top: 10px;
        z-index: 1;


        .navbar-nav {
            background-color: red !important;
            margin-left: 127px !important;
            gap: 20px !important;
            padding: 0px 50px 0px 50px !important;
            clip-path: polygon(6% 0%, 100% -14%, 94% 100%, 0% 100%);

            .nav {}

            @media (max-width:1000px) {
                background-color: #F8F9FA !important;

                ul {
                    li {
                        a {
                            color: black !important;
                        }
                    }
                }
            }

            .active {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 4px;
                    background: #fff;
                    left: 2px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    background-image: url('./assets/caret-down.svg');
                    background-size: cover;
                    background-position: center;
                    top: 0px;
                    left: 18px;
                }
            }


        }
    }

    .herosection {
        padding-left: 320px !important;


        h5 {
            font-size: 2rem;
        }

        h4 {
            font-size: 90px !important;
            max-width: 70%;
            line-height: 68px;
        }

        p {
            max-width: 50%;
        }

        @media (max-width:1000px) {
            padding-left: 156px !important;

            p {
                max-width: 95%;
            }
        }

        @media (max-width:768px) {
            padding-left: 50px !important;

            h4 {
                font-size: 60px !important;

                @media (max-width:600px) {
                    font-size: 50px !important;
                }

                @media (max-width:500px) {
                    font-size: 30px !important;
                    line-height: 38px;
                }
            }
        }
    }

    .line1 {
        width: 5px;
        height: 200px;
        background-color: #ffff;
        bottom: 6.25em;
        left: 6.25em;
        transform: rotate(27deg);
        animation: Line1Animation 6s infinite;

        @media (max-width:1000px) {
            display: none;
        }
    }

    .line2 {
        width: 5px;
        height: 200px;
        background-color: red;
        top: 4.25em;
        left: 11.063em;
        transform: rotate(29deg);
        animation: Line2Animation 6s infinite;

        @media (max-width:1000px) {
            display: none;
        }
    }

    .line3 {
        width: 5px;
        height: 200px;
        background: #fff;
        right: 50%;
        bottom: 100px;
        transform: rotate(23deg);
        animation: Line3Animation 6s infinite;

    }
}

@keyframes Line1Animation {

    0%,
    100% {
        transform: translateY(0) translateX(-2px) rotate(27deg);
    }

    50% {
        transform: translateY(-400px) translateX(196px) rotate(27deg);
    }
}

@keyframes Line2Animation {

    0%,
    100% {
        transform: translateY(0) rotate(27deg);
    }

    50% {
        transform: translateY(300px) translateX(-153px) rotate(27deg);
    }
}

@keyframes Line3Animation {

    0%,
    100% {
        transform: translateY(0) translateX(-8px) rotate(24deg);
    }

    50% {
        transform: translateY(-400px) translateX(170px) rotate(24deg);
    }
}



@media (max-width:1280px) {
    @keyframes Line1Animation {

        0%,
        100% {
            transform: translateY(0) translateX(-6px) rotate(23deg);
        }

        50% {
            transform: translateY(-400px) translateX(159px) rotate(23deg);
        }
    }

    @keyframes Line2Animation {

        0%,
        100% {
            transform: translateY(0) translateX(33px) rotate(23deg);
        }

        50% {
            transform: translateY(400px) translateX(-138px) rotate(23deg);
        }
    }

    @keyframes Line3Animation {

        0%,
        100% {
            transform: translateY(0) translateX(4px) rotate(20deg);
        }

        50% {
            transform: translateY(-400px) translateX(129px) rotate(20deg);
        }
    }
}